<app-nav-bar></app-nav-bar>

<div class="container-fluid" style="margin-top: 30px;">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-4">
      <div *ngIf="piedata" class="chart-container">
        <h5 style="font-size: 20px;">Budget Chart</h5>
        <p-chart type="pie" [data]="piedata" [responsive]="false" width="400" height="400" [style]="{'width': '100%', 'font-size': '18px'}"></p-chart>
      </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-4">
      <div class="card" *ngIf="basicData">
        <h5 style="font-size: 20px;">Budget Vs Expense</h5>
        <p-chart type="bar" [data]="basicData" [responsive]="false" width="400" height="400" [style]="{'width': '100%', 'font-size': '18px'}"></p-chart>
      </div>
    </div>
  </div>
  </div>
    <div class="container-fluid">
      <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-4">
      <div class="card" *ngIf="monthlyData">
        <h5 style="font-size: 20px;">Monthly Data</h5>
        <p-chart type="bar" [data]="monthlyData" [responsive]="false" width="400" height="400" [style]="{'width': '100%', 'font-size': '18px'}"></p-chart>
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>