<p-panel>
    <h4 class="text-center">Login</h4>

    <div class="container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
                <label for="exampleInputEmail1">User name</label>
          <input type="username" class="form-control" formControlName="username" placeholder="Enter username">
          <small class="form-text text-muted" 
            *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.required">
              Please enter username!
          </small>
        </div>
        
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password">
          <small class="form-text text-muted" 
          *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">
            Please enter password!
        </small>
        </div>
        <div class="row" >
            <small>Don't have account? <a routerLink="/signUp">Sign Up</a></small>
          
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
      </form>
    </div>
    
</p-panel>
